
# Server Configuration
PORT= #

# MongoDB Configuration
MONGO_URI_Local=mongodb://localhost:27017/fyp-db
MONGO_URI= #

# JWT Configuration
JWT_SECRET= #
JWT_EXPIRES_IN=1h
REFRESH_JWT_SECRET=#
REFRESH_JWT_EXPIRES_IN=7d

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME= #
CLOUDINARY_API_KEY= #
CLOUDINARY_API_SECRET= #

# Groq API Configuration
GROQ_API_KEY= #
GROQ_REASONING_MODEL=llama-3.3-70b-versatile
GROQ_FAST_MODEL=llama-3.1-8b-instant

# CORS Configuration (for frontend connection)
FRONTEND_URL= #

#QDrant Configurations

QDRANT_API_KEY= #
QDRANT_URL= #

#Gemini Configurations

GEMINI_API_KEY= #
GEMINI_EMBEDDING_MODEL=gemini-embedding-001

#Llama Parse Configuration
LLAMA_CLOUD_API_KEY= #

#Redis COnfiguration
REDIS_LOCAL_URL=redis://localhost:6379
REDIS_UPSTASH_URL= #

# The Switch
NODE_ENV=development