# Server Configuration
PORT=3100
FRONTEND_URL=http://localhost:5173

# MongoDB Configuration
MONGO_URI=your_mongodb_connection_string_here

# JWT Configuration
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1h
REFRESH_JWT_SECRET=your_refresh_jwt_secret_here
REFRESH_JWT_EXPIRES_IN=7d

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Groq API Configuration
GROQ_API_KEY=your_groq_api_key
GROQ_REASONING_MODEL=llama-3.3-70b-versatile
GROQ_FAST_MODEL=llama-3.1-8b-instant

# QDrant Configuration
QDRANT_API_KEY=your_qdrant_api_key
QDRANT_URL=your_qdrant_url

# Gemini Configuration
GEMINI_API_KEY=your_gemini_api_key
GEMINI_EMBEDDING_MODEL=gemini-embedding-001

# Llama Parse Configuration
LLAMA_CLOUD_API_KEY=your_llama_cloud_api_key
